Repository mlops-2425q1-mds-upc/MLOps-mdsist: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pynblint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    -   id: isort
        args: ["--profile", "black"]
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        types: [python]
        language: system
        require_serial: true
        args:
            - --max-locals=30
            - --ignore-imports=yes
            - --disable=redefined-outer-name
          
      
      - id: pynblint
        name: pynblint
        entry: python pynblint_pre_commit.py
        types: [jupyter]
        language: python
        additional_dependencies: [pynblint]
        require_serial: true

Add code Test files
  .gitignore
  poetry.lock
  pyproject.toml
  tests/mdsist/test_architectures.py
  tests/mdsist/test_config.py
  tests/mdsist/test_preprocessing.py
  tests/mdsist/test_trainer.py
  tests/mdsist/test_util.py
Due: pylint

Update Readme file
  README.md
  notebooks/5.0-aag-ji-app.ipynb
Due: pynblint

Update Readme file (#24)
  README.md
  notebooks/5.0-aag-ji-app.ipynb
Due: pynblint

swagger bug solved
  mdsist/app.py
Due: pylint

Test testing GH action
  .github/workflows/mdsist-tests.yml
Due: none

Fix indentation
  .github/workflows/mdsist-tests.yml
Due: none

Give MLFlow credentials
  .github/workflows/mdsist-tests.yml
Due: none

Set poetry environment in action
  .github/workflows/mdsist-tests.yml
Due: none

Set MLFlow credentials
  .github/workflows/mdsist-tests.yml
Due: none

Fix set MLFlow credentials
  .github/workflows/mdsist-tests.yml
Due: none

Test nightly tests
  .github/workflows/mdsist-tests.yml
Due: none

Nightly tests work
  .github/workflows/mdsist-tests.yml
Due: none

Test improved nightly tests
  .github/workflows/mdsist-tests.yml
Due: none

Test improved nightly tests changing description
  .github/workflows/mdsist-tests.yml
Due: none

Improved nightly tests work
  .github/workflows/mdsist-tests.yml
Due: none

Fix tests job
  .github/workflows/mdsist-tests.yml
Due: none

Fix tests job
  dvc.yaml
Due: none

Add pre-commit step
  .github/workflows/mdsist-tests.yml
Due: none

Fix notebook pynblint errors
  notebooks/4.0-icc-test.ipynb
Due: pynblint

Fix tests and main.yml template
  .github/workflows/main.yml
  tests/mdsist/test_api.py
  tests/mdsist/test_architectures.py
  tests/mdsist/test_config.py
  tests/mdsist/test_preprocessing.py
  tests/mdsist/test_trainer.py
  tests/mdsist/test_util.py
Due: pylint

Fix test_preprocessing pylint errors
  tests/mdsist/test_preprocessing.py
Due: pylint

Add update on Dockerfile and github action to release image
  .github/workflows/main.yml
  Dockerfile
Due: none

Add using docker hub image in docker-compose
  docker-compose.yml
Due: none

Fix main yml
  .github/workflows/main.yml
Due: none

Fix main yml (#27)
  .github/workflows/main.yml
Due: none

Fix docker hub password
  .github/workflows/main.yml
Due: none

CD only on merge
  .github/workflows/main.yml
Due: none

Fix cd (#28)
  .github/workflows/main.yml
Due: none

initial commit
  exporter/docker-compose.yml
  poetry.lock
Due: none

fixed api bug
  .pre-commit-config.yaml
  mdsist/app.py
  notebooks/5.0-aag-ji-app.ipynb
  tests/mdsist/test_api.py
Due: pylint, pynblint

Add model test, modify test_trainer and toml
  dvc.lock
  pyproject.toml
  tests/mdsist/test_test.py
  tests/mdsist/test_trainer.py
Due: pylint

Modify github actions and output of test report
  .github/workflows/main.yml
  .github/workflows/mdsist-tests.yml
  .gitignore
  mdsist/mlruns/0/meta.yaml
  notebooks/mlruns/0/meta.yaml
  pyproject.toml
Due: none
